<%- include('partials/header')%>
    <%- include('partials/nav')%>


      <main id="about">
        <div id="about-text">
            <h1>About Tidings</h1>
            <p>Tidings is a social networking service. Users can post and interact with short messages called 'tyds' </p>
            
        </div>
        <div id="about-tyds">
            <img src="" alt="">
            
        </div>

    </main>



<%- include('partials/footer')%>